@keyframes blobMov {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}
.earthHolder {
  position: absolute;
  width: 100%;
  height: 100%;
  animation: circulation 8s linear infinite;
  transition: 0.6s;
}
.earthHolder:hover .earthText {
  display: block;
}

.earthHolder:hover {
  animation-play-state: paused;
  height: 150%;
  width: 150%;
}

.earth {
  position: absolute;
  background-color: #0058ab;
  box-shadow: 0 0 15px #2ebdff;
  height: 50%;
  width: 50%;
  border-radius: 50%;
  overflow: hidden;
  z-index: 1;
}

.earthText {
  position: absolute;
  left: 30%;
  top: 30%;
  width: 150px;
  color: white;
  padding: 10px;
  display: none;
}

.moon .text {
  position: absolute;
  left: 100%;
  top: -200%;
  width: 150px;
  color: white;
  padding: 10px;
  display: none;
}

.earthLands {
  position: absolute;
  z-index: 2;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  opacity: 1;
  animation: blobMov 8s linear infinite;
}

.earthLands .land1 {
  position: absolute;
  background-color: rgb(5, 120, 5);
  width: 40%;
  height: 15%;
  border-radius: 25rem;
  top: 10%;
  left: 5%;
}

.earthLands .land2 {
  position: absolute;
  background-color: rgb(38, 128, 0);
  width: 25%;
  height: 10%;
  border-radius: 25rem;
  top: 28%;
  left: 15%;
}

.earthLands .land3 {
  position: absolute;
  background-color: green;
  width: 35%;
  height: 12%;
  border-radius: 25rem;
  top: 60%;
  left: 15%;
}

.earthLands .land4 {
  position: absolute;
  background-color: green;
  width: 5%;
  height: 10%;
  border-radius: 25rem;
  top: 70%;
  left: 35%;
}

.earthLands .land5 {
  position: absolute;
  background-color: green;
  width: 40%;
  height: 8%;
  border-radius: 25rem;
  top: 75%;
  left: 20%;
}

.earthLands .land6 {
  position: absolute;
  background-color: green;
  width: 30%;
  height: 12%;
  border-radius: 25rem;
  top: 20%;
  left: 70%;
}

.earthLands .land7 {
  position: absolute;
  background-color: rgb(64, 128, 0);
  width: 35%;
  height: 20%;
  border-radius: 25rem;
  top: 45%;
  left: 65%;
}

.earthLands .land8 {
  position: absolute;
  background-color: green;
  width: 12%;
  height: 12%;
  border-radius: 25rem;
  top: 70%;
  left: 75%;
}

.earthLands .land9 {
  position: absolute;
  background-color: rgb(5, 120, 5);
  width: 40%;
  height: 15%;
  border-radius: 25rem;
  top: 10%;
  left: -95%;
}

.earthLands .land10 {
  position: absolute;
  background-color: rgb(38, 128, 0);
  width: 25%;
  height: 10%;
  border-radius: 25rem;
  top: 28%;
  left: -85%;
}

.earthLands .land11 {
  position: absolute;
  background-color: green;
  width: 35%;
  height: 12%;
  border-radius: 25rem;
  top: 60%;
  left: -85%;
}

.earthLands .land12 {
  position: absolute;
  background-color: green;
  width: 5%;
  height: 10%;
  border-radius: 25rem;
  top: 70%;
  left: -65%;
}

.earthLands .land13 {
  position: absolute;
  background-color: green;
  width: 40%;
  height: 8%;
  border-radius: 25rem;
  top: 75%;
  left: -80%;
}

.earthLands .land14 {
  position: absolute;
  background-color: green;
  width: 30%;
  height: 12%;
  border-radius: 25rem;
  top: 20%;
  left: -30%;
}

.earthLands .land15 {
  position: absolute;
  background-color: rgb(64, 128, 0);
  width: 35%;
  height: 20%;
  border-radius: 25rem;
  top: 45%;
  left: -35%;
}

.earthLands .land16 {
  position: absolute;
  background-color: green;
  width: 12%;
  height: 12%;
  border-radius: 25rem;
  top: 70%;
  left: -25%;
}

.earthClouds {
  position: absolute;
  z-index: 3;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  opacity: 0.6;
  animation: blobMov 8s linear infinite;
}

.earthClouds .cloud1 {
  position: absolute;
  background-color: whitesmoke;
  width: 45%;
  height: 20%;
  border-radius: 25rem;
  top: 12%;
  left: 5%;
}

.earthClouds .cloud2 {
  position: absolute;
  background-color: whitesmoke;
  width: 45%;
  height: 20%;
  border-radius: 25rem;
  top: 12%;
  left: -95%;
}

.earthClouds .cloud3 {
  position: absolute;
  background-color: whitesmoke;
  width: 30%;
  height: 15%;
  border-radius: 25rem;
  top: 50%;
  left: 25%;
}

.earthClouds .cloud4 {
  position: absolute;
  background-color: whitesmoke;
  width: 30%;
  height: 15%;
  border-radius: 25rem;
  top: 50%;
  left: -75%;
}

.earthClouds .cloud5 {
  position: absolute;
  background-color: whitesmoke;
  width: 30%;
  height: 12%;
  border-radius: 25rem;
  top: 70%;
  left: -10%;
}

.earthClouds .cloud6 {
  position: absolute;
  background-color: whitesmoke;
  width: 30%;
  height: 12%;
  border-radius: 25rem;
  top: 70%;
  left: -110%;
}

.moon {
  position: absolute;
  background-color: rgb(159, 159, 159);
  box-shadow: 0 0 15px rgb(193, 193, 193);
  height: 20%;
  width: 20%;
  border-radius: 50%;
  overflow: hidden;
  z-index: 1;
  top: 20%;
  left: -40%;
  animation: 5s ease-in-out infinite moonMove;
}

.moon .crater1 {
  position: absolute;
  background-color: gray;
  width: 20%;
  height: 20%;
  border-radius: 25rem;
  top: 10%;
  left: 20%;
}

.moon .crater2 {
  position: absolute;
  background-color: gray;
  width: 30%;
  height: 30%;
  border-radius: 25rem;
  top: 50%;
  left: 40%;
}

.moon .crater3 {
  position: absolute;
  background-color: gray;
  width: 22%;
  height: 22%;
  border-radius: 25rem;
  top: 20%;
  left: 60%;
}

.moon .crater4 {
  position: absolute;
  background-color: gray;
  width: 15%;
  height: 15%;
  border-radius: 25rem;
  top: 70%;
  left: 25%;
}

@keyframes moonMove {
  0% {
    transform: translateX(-20%);
  }
  50% {
    transform: translateX(600%);
  }
  100% {
    z-index: 0;
    transform: translateX(-20%);
  }
}
@keyframes circulation {
  from {
    transform: rotate(0deg) translateX(200px) translateY(200px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(200px) translateY(200px) rotate(-360deg);
  }
}

/*# sourceMappingURL=earthStyle.css.map */
