@keyframes blobMov {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}
.mercuryHolder {
  --distance: 200px;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: 0.6s;
  animation: circulationMercury 8s linear infinite;
}
.mercuryHolder:hover {
  animation-play-state: paused;
  width: 200%;
  height: 200%;
}

.mercuryHolder:hover .mercuryText {
  display: block;
}

.mercury {
  position: absolute;
  background-color: rgb(227, 148, 28);
  box-shadow: 0 0 15px rgb(227, 148, 28);
  height: 30%;
  width: 30%;
  border-radius: 50%;
  overflow: hidden;
  z-index: 1;
}

.mercuryText {
  position: absolute;
  left: 30%;
  top: 30%;
  width: 150px;
  color: white;
  padding: 10px;
  display: none;
}

.mercuryClouds {
  position: absolute;
  z-index: 2;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  opacity: 1;
  animation: blobMov 8s linear infinite;
}

.mercury .cloud1 {
  position: absolute;
  background-color: rgb(143, 93, 18);
  width: 60%;
  height: 18%;
  border-radius: 25rem;
  top: 0%;
  left: 30%;
}

.mercury .cloud2 {
  position: absolute;
  background-color: rgb(143, 93, 18);
  width: 50%;
  height: 20%;
  border-radius: 25rem;
  top: 35%;
  left: -5%;
}

.mercury .cloud3 {
  position: absolute;
  background-color: rgb(143, 93, 18);
  width: 25%;
  height: 20%;
  border-radius: 25rem;
  top: 50%;
  left: -1%;
}

.mercury .cloud4 {
  position: absolute;
  background-color: rgb(143, 93, 18);
  width: 30%;
  height: 18%;
  border-radius: 25rem;
  top: 70%;
  left: 45%;
}

.mercury .cloud5 {
  position: absolute;
  background-color: rgb(143, 93, 18);
  width: 60%;
  height: 18%;
  border-radius: 25rem;
  top: 0%;
  left: -70%;
}

.mercury .cloud6 {
  position: absolute;
  background-color: rgb(143, 93, 18);
  width: 50%;
  height: 20%;
  border-radius: 25rem;
  top: 35%;
  left: -105%;
}

.mercury .cloud7 {
  position: absolute;
  background-color: rgb(143, 93, 18);
  width: 25%;
  height: 20%;
  border-radius: 25rem;
  top: 50%;
  left: -101%;
}

.mercury .cloud8 {
  position: absolute;
  background-color: rgb(143, 93, 18);
  width: 30%;
  height: 18%;
  border-radius: 25rem;
  top: 70%;
  left: -55%;
}

.mercury .cloud9 {
  position: absolute;
  background-color: rgb(117, 76, 16);
  width: 20%;
  height: 10%;
  border-radius: 25rem;
  top: 50%;
  left: 50%;
}

.mercury .cloud10 {
  position: absolute;
  background-color: rgb(117, 76, 16);
  width: 20%;
  height: 10%;
  border-radius: 25rem;
  top: 50%;
  left: -50%;
}

.mercury .cloud11 {
  position: absolute;
  background-color: rgb(116, 76, 15);
  width: 20%;
  height: 18%;
  border-radius: 25rem;
  top: 80%;
  left: 80%;
}

.mercury .cloud12 {
  position: absolute;
  background-color: rgb(116, 76, 15);
  width: 20%;
  height: 12%;
  border-radius: 25rem;
  top: 80%;
  left: -20%;
}

@keyframes circulationMercury {
  from {
    transform: rotate(0deg) translateX(80px) translateY(80px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(80px) translateY(80px) rotate(-360deg);
  }
}

/*# sourceMappingURL=mercury.css.map */
