@import url("https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap");
.stars {
  min-height: 100vh;
}

.star {
  position: absolute;
  height: 1px;
  width: 1px;
  border-radius: 50%;
  background-color: white;
}

.stars div:nth-child(1) {
  top: 157px;
  left: 2431px;
  height: 3px;
  width: 3px;
}

.stars div:nth-child(2) {
  top: 415px;
  left: 2382px;
  height: 2px;
  width: 2px;
}

.stars div:nth-child(3) {
  top: 284px;
  left: 1934px;
  height: 2px;
  width: 2px;
}

.stars div:nth-child(4) {
  top: 1231px;
  left: 257px;
  height: 3px;
  width: 3px;
}

.stars div:nth-child(5) {
  top: 18px;
  left: 2311px;
  height: 2px;
  width: 2px;
}

.stars div:nth-child(6) {
  top: 818px;
  left: 2718px;
  height: 1px;
  width: 1px;
}

.stars div:nth-child(7) {
  top: 70px;
  left: 1269px;
  height: 1px;
  width: 1px;
}

.stars div:nth-child(8) {
  top: 526px;
  left: 538px;
  height: 2px;
  width: 2px;
}

.stars div:nth-child(9) {
  top: 686px;
  left: 1511px;
  height: 1px;
  width: 1px;
}

.stars div:nth-child(10) {
  top: 702px;
  left: 2170px;
  height: 2px;
  width: 2px;
}

.stars div:nth-child(11) {
  top: 361px;
  left: 1814px;
  height: 1px;
  width: 1px;
}

.stars div:nth-child(12) {
  top: 46px;
  left: 422px;
  height: 3px;
  width: 3px;
}

.stars div:nth-child(13) {
  top: 1404px;
  left: 785px;
  height: 3px;
  width: 3px;
}

.stars div:nth-child(14) {
  top: 525px;
  left: 2172px;
  height: 3px;
  width: 3px;
}

.stars div:nth-child(15) {
  top: 1340px;
  left: 2509px;
  height: 1px;
  width: 1px;
}

.stars div:nth-child(16) {
  top: 357px;
  left: 335px;
  height: 1px;
  width: 1px;
}

.stars div:nth-child(17) {
  top: 1130px;
  left: 1746px;
  height: 1px;
  width: 1px;
}

.stars div:nth-child(18) {
  top: 723px;
  left: 921px;
  height: 3px;
  width: 3px;
}

.stars div:nth-child(19) {
  top: 1298px;
  left: 2957px;
  height: 1px;
  width: 1px;
}

.stars div:nth-child(20) {
  top: 1282px;
  left: 407px;
  height: 3px;
  width: 3px;
}

.stars div:nth-child(21) {
  top: 1060px;
  left: 1334px;
  height: 3px;
  width: 3px;
}

.stars div:nth-child(22) {
  top: 1035px;
  left: 1547px;
  height: 1px;
  width: 1px;
}

.stars div:nth-child(23) {
  top: 224px;
  left: 2562px;
  height: 2px;
  width: 2px;
}

.stars div:nth-child(24) {
  top: 519px;
  left: 1380px;
  height: 2px;
  width: 2px;
}

.stars div:nth-child(25) {
  top: 849px;
  left: 2382px;
  height: 3px;
  width: 3px;
}

.stars div:nth-child(26) {
  top: 871px;
  left: 2959px;
  height: 2px;
  width: 2px;
}

.stars div:nth-child(27) {
  top: 1376px;
  left: 2172px;
  height: 3px;
  width: 3px;
}

.stars div:nth-child(28) {
  top: 616px;
  left: 2026px;
  height: 3px;
  width: 3px;
}

.stars div:nth-child(29) {
  top: 483px;
  left: 1528px;
  height: 3px;
  width: 3px;
}

.stars div:nth-child(30) {
  top: 96px;
  left: 2377px;
  height: 1px;
  width: 1px;
}

.stars div:nth-child(31) {
  top: 532px;
  left: 1524px;
  height: 2px;
  width: 2px;
}

.stars div:nth-child(32) {
  top: 1399px;
  left: 1316px;
  height: 1px;
  width: 1px;
}

.stars div:nth-child(33) {
  top: 1201px;
  left: 586px;
  height: 2px;
  width: 2px;
}

.stars div:nth-child(34) {
  top: 741px;
  left: 2309px;
  height: 3px;
  width: 3px;
}

.stars div:nth-child(35) {
  top: 1020px;
  left: 2418px;
  height: 1px;
  width: 1px;
}

.stars div:nth-child(36) {
  top: 416px;
  left: 1498px;
  height: 1px;
  width: 1px;
}

.stars div:nth-child(37) {
  top: 630px;
  left: 2558px;
  height: 2px;
  width: 2px;
}

.stars div:nth-child(38) {
  top: 424px;
  left: 387px;
  height: 2px;
  width: 2px;
}

.stars div:nth-child(39) {
  top: 514px;
  left: 683px;
  height: 3px;
  width: 3px;
}

.stars div:nth-child(40) {
  top: 110px;
  left: 2036px;
  height: 2px;
  width: 2px;
}

.stars div:nth-child(41) {
  top: 1403px;
  left: 2880px;
  height: 2px;
  width: 2px;
}

.stars div:nth-child(42) {
  top: 917px;
  left: 298px;
  height: 1px;
  width: 1px;
}

.stars div:nth-child(43) {
  top: 86px;
  left: 244px;
  height: 1px;
  width: 1px;
}

.stars div:nth-child(44) {
  top: 1431px;
  left: 2743px;
  height: 1px;
  width: 1px;
}

.stars div:nth-child(45) {
  top: 921px;
  left: 2805px;
  height: 3px;
  width: 3px;
}

.stars div:nth-child(46) {
  top: 1303px;
  left: 1346px;
  height: 1px;
  width: 1px;
}

.stars div:nth-child(47) {
  top: 1414px;
  left: 2097px;
  height: 3px;
  width: 3px;
}

.stars div:nth-child(48) {
  top: 1144px;
  left: 1957px;
  height: 2px;
  width: 2px;
}

.stars div:nth-child(49) {
  top: 1039px;
  left: 2942px;
  height: 2px;
  width: 2px;
}

.stars div:nth-child(50) {
  top: 280px;
  left: 1526px;
  height: 3px;
  width: 3px;
}

.stars div:nth-child(51) {
  top: 312px;
  left: 1559px;
  height: 2px;
  width: 2px;
}

.stars div:nth-child(52) {
  top: 1406px;
  left: 195px;
  height: 2px;
  width: 2px;
}

.stars div:nth-child(53) {
  top: 1474px;
  left: 2546px;
  height: 1px;
  width: 1px;
}

.stars div:nth-child(54) {
  top: 1472px;
  left: 541px;
  height: 2px;
  width: 2px;
}

.stars div:nth-child(55) {
  top: 389px;
  left: 2522px;
  height: 1px;
  width: 1px;
}

.stars div:nth-child(56) {
  top: 266px;
  left: 334px;
  height: 2px;
  width: 2px;
}

.stars div:nth-child(57) {
  top: 493px;
  left: 2432px;
  height: 1px;
  width: 1px;
}

.stars div:nth-child(58) {
  top: 189px;
  left: 2231px;
  height: 3px;
  width: 3px;
}

.stars div:nth-child(59) {
  top: 1471px;
  left: 2929px;
  height: 1px;
  width: 1px;
}

.stars div:nth-child(60) {
  top: 540px;
  left: 318px;
  height: 1px;
  width: 1px;
}

.stars div:nth-child(61) {
  top: 711px;
  left: 969px;
  height: 1px;
  width: 1px;
}

.stars div:nth-child(62) {
  top: 711px;
  left: 2553px;
  height: 1px;
  width: 1px;
}

.stars div:nth-child(63) {
  top: 421px;
  left: 133px;
  height: 1px;
  width: 1px;
}

.stars div:nth-child(64) {
  top: 912px;
  left: 2519px;
  height: 3px;
  width: 3px;
}

.stars div:nth-child(65) {
  top: 682px;
  left: 1569px;
  height: 2px;
  width: 2px;
}

.stars div:nth-child(66) {
  top: 1348px;
  left: 2754px;
  height: 3px;
  width: 3px;
}

.stars div:nth-child(67) {
  top: 52px;
  left: 1120px;
  height: 1px;
  width: 1px;
}

.stars div:nth-child(68) {
  top: 356px;
  left: 910px;
  height: 1px;
  width: 1px;
}

.stars div:nth-child(69) {
  top: 1480px;
  left: 1424px;
  height: 3px;
  width: 3px;
}

.stars div:nth-child(70) {
  top: 1351px;
  left: 2536px;
  height: 1px;
  width: 1px;
}

.stars div:nth-child(71) {
  top: 959px;
  left: 2553px;
  height: 1px;
  width: 1px;
}

.stars div:nth-child(72) {
  top: 1052px;
  left: 60px;
  height: 2px;
  width: 2px;
}

.stars div:nth-child(73) {
  top: 871px;
  left: 1101px;
  height: 2px;
  width: 2px;
}

.stars div:nth-child(74) {
  top: 1172px;
  left: 688px;
  height: 3px;
  width: 3px;
}

.stars div:nth-child(75) {
  top: 893px;
  left: 1599px;
  height: 3px;
  width: 3px;
}

.stars div:nth-child(76) {
  top: 695px;
  left: 1650px;
  height: 1px;
  width: 1px;
}

.stars div:nth-child(77) {
  top: 792px;
  left: 2988px;
  height: 1px;
  width: 1px;
}

.stars div:nth-child(78) {
  top: 924px;
  left: 1027px;
  height: 3px;
  width: 3px;
}

.stars div:nth-child(79) {
  top: 828px;
  left: 1657px;
  height: 1px;
  width: 1px;
}

.stars div:nth-child(80) {
  top: 909px;
  left: 95px;
  height: 2px;
  width: 2px;
}

.stars div:nth-child(81) {
  top: 144px;
  left: 2079px;
  height: 1px;
  width: 1px;
}

.stars div:nth-child(82) {
  top: 1016px;
  left: 1762px;
  height: 2px;
  width: 2px;
}

.stars div:nth-child(83) {
  top: 122px;
  left: 1072px;
  height: 1px;
  width: 1px;
}

.stars div:nth-child(84) {
  top: 1065px;
  left: 1177px;
  height: 2px;
  width: 2px;
}

.stars div:nth-child(85) {
  top: 1362px;
  left: 323px;
  height: 1px;
  width: 1px;
}

.stars div:nth-child(86) {
  top: 1110px;
  left: 301px;
  height: 1px;
  width: 1px;
}

.stars div:nth-child(87) {
  top: 380px;
  left: 1623px;
  height: 3px;
  width: 3px;
}

.stars div:nth-child(88) {
  top: 307px;
  left: 2722px;
  height: 3px;
  width: 3px;
}

.stars div:nth-child(89) {
  top: 523px;
  left: 2400px;
  height: 2px;
  width: 2px;
}

.stars div:nth-child(90) {
  top: 220px;
  left: 2935px;
  height: 1px;
  width: 1px;
}

.stars div:nth-child(91) {
  top: 1199px;
  left: 656px;
  height: 3px;
  width: 3px;
}

.stars div:nth-child(92) {
  top: 228px;
  left: 2039px;
  height: 1px;
  width: 1px;
}

.stars div:nth-child(93) {
  top: 361px;
  left: 769px;
  height: 3px;
  width: 3px;
}

.stars div:nth-child(94) {
  top: 1414px;
  left: 1408px;
  height: 3px;
  width: 3px;
}

.stars div:nth-child(95) {
  top: 824px;
  left: 2366px;
  height: 1px;
  width: 1px;
}

.stars div:nth-child(96) {
  top: 1483px;
  left: 1625px;
  height: 2px;
  width: 2px;
}

.stars div:nth-child(97) {
  top: 51px;
  left: 615px;
  height: 3px;
  width: 3px;
}

.stars div:nth-child(98) {
  top: 142px;
  left: 2267px;
  height: 3px;
  width: 3px;
}

.stars div:nth-child(99) {
  top: 142px;
  left: 1961px;
  height: 2px;
  width: 2px;
}

.stars div:nth-child(100) {
  top: 859px;
  left: 2465px;
  height: 1px;
  width: 1px;
}

@keyframes blobMov {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}
.mercuryHolder {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-origin: center;
  animation: circulationMercury 8s linear infinite;
}
.mercuryHolder:hover {
  animation-play-state: paused;
}

.mercuryHolder:hover .mercury {
  width: 80%;
  height: 80%;
}

.mercuryHolder:hover .mercuryText {
  display: block;
}

.mercury {
  position: absolute;
  background-color: rgb(227, 148, 28);
  box-shadow: 0 0 15px rgb(227, 148, 28);
  height: 30%;
  width: 30%;
  border-radius: 50%;
  overflow: hidden;
  z-index: 1;
  transition: 0.6s;
}

.mercuryText {
  position: absolute;
  left: 80%;
  top: 0%;
  width: 150px;
  color: white;
  padding: 10px;
  display: none;
}

.mercuryClouds {
  position: absolute;
  z-index: 2;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  opacity: 1;
  animation: blobMov 8s linear infinite;
}

.mercury .cloud1 {
  position: absolute;
  background-color: rgb(143, 93, 18);
  width: 60%;
  height: 18%;
  border-radius: 25rem;
  top: 0%;
  left: 30%;
}

.mercury .cloud2 {
  position: absolute;
  background-color: rgb(143, 93, 18);
  width: 50%;
  height: 20%;
  border-radius: 25rem;
  top: 35%;
  left: -5%;
}

.mercury .cloud3 {
  position: absolute;
  background-color: rgb(143, 93, 18);
  width: 25%;
  height: 20%;
  border-radius: 25rem;
  top: 50%;
  left: -1%;
}

.mercury .cloud4 {
  position: absolute;
  background-color: rgb(143, 93, 18);
  width: 30%;
  height: 18%;
  border-radius: 25rem;
  top: 70%;
  left: 45%;
}

.mercury .cloud5 {
  position: absolute;
  background-color: rgb(143, 93, 18);
  width: 60%;
  height: 18%;
  border-radius: 25rem;
  top: 0%;
  left: -70%;
}

.mercury .cloud6 {
  position: absolute;
  background-color: rgb(143, 93, 18);
  width: 50%;
  height: 20%;
  border-radius: 25rem;
  top: 35%;
  left: -105%;
}

.mercury .cloud7 {
  position: absolute;
  background-color: rgb(143, 93, 18);
  width: 25%;
  height: 20%;
  border-radius: 25rem;
  top: 50%;
  left: -101%;
}

.mercury .cloud8 {
  position: absolute;
  background-color: rgb(143, 93, 18);
  width: 30%;
  height: 18%;
  border-radius: 25rem;
  top: 70%;
  left: -55%;
}

.mercury .cloud9 {
  position: absolute;
  background-color: rgb(117, 76, 16);
  width: 20%;
  height: 10%;
  border-radius: 25rem;
  top: 50%;
  left: 50%;
}

.mercury .cloud10 {
  position: absolute;
  background-color: rgb(117, 76, 16);
  width: 20%;
  height: 10%;
  border-radius: 25rem;
  top: 50%;
  left: -50%;
}

.mercury .cloud11 {
  position: absolute;
  background-color: rgb(116, 76, 15);
  width: 20%;
  height: 18%;
  border-radius: 25rem;
  top: 80%;
  left: 80%;
}

.mercury .cloud12 {
  position: absolute;
  background-color: rgb(116, 76, 15);
  width: 20%;
  height: 12%;
  border-radius: 25rem;
  top: 80%;
  left: -20%;
}

@keyframes circulationMercury {
  from {
    transform: rotate(0deg) translateX(80%) translateY(80%) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(80%) translateY(80%) rotate(-360deg);
  }
}
@keyframes blobMov {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}
.earthHolder {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-origin: center;
  animation: circulationEarth 10.5s linear infinite;
}
.earthHolder:hover {
  animation-play-state: paused;
}

.earthHolder:hover .earth {
  width: 100%;
  height: 100%;
}

.earthHolder:hover .moon {
  width: 40%;
  height: 40%;
}

.earthHolder:hover .earthText {
  display: block;
}

.earth {
  position: absolute;
  background-color: #0058ab;
  box-shadow: 0 0 15px #2ebdff;
  height: 50%;
  width: 50%;
  border-radius: 50%;
  overflow: hidden;
  z-index: 1;
  transition: 0.6s;
}

.earthText {
  position: absolute;
  left: 60%;
  top: 60%;
  width: 150px;
  color: white;
  padding: 10px;
  display: none;
}

.moon .text {
  position: absolute;
  left: 100%;
  top: -200%;
  width: 150px;
  color: white;
  padding: 10px;
  display: none;
}

.earthLands {
  position: absolute;
  z-index: 2;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  opacity: 1;
  animation: blobMov 8s linear infinite;
}

.earthLands .land1 {
  position: absolute;
  background-color: rgb(5, 120, 5);
  width: 40%;
  height: 15%;
  border-radius: 25rem;
  top: 10%;
  left: 5%;
}

.earthLands .land2 {
  position: absolute;
  background-color: rgb(38, 128, 0);
  width: 25%;
  height: 10%;
  border-radius: 25rem;
  top: 28%;
  left: 15%;
}

.earthLands .land3 {
  position: absolute;
  background-color: green;
  width: 35%;
  height: 12%;
  border-radius: 25rem;
  top: 60%;
  left: 15%;
}

.earthLands .land4 {
  position: absolute;
  background-color: green;
  width: 5%;
  height: 10%;
  border-radius: 25rem;
  top: 70%;
  left: 35%;
}

.earthLands .land5 {
  position: absolute;
  background-color: green;
  width: 40%;
  height: 8%;
  border-radius: 25rem;
  top: 75%;
  left: 20%;
}

.earthLands .land6 {
  position: absolute;
  background-color: green;
  width: 30%;
  height: 12%;
  border-radius: 25rem;
  top: 20%;
  left: 70%;
}

.earthLands .land7 {
  position: absolute;
  background-color: rgb(64, 128, 0);
  width: 35%;
  height: 20%;
  border-radius: 25rem;
  top: 45%;
  left: 65%;
}

.earthLands .land8 {
  position: absolute;
  background-color: green;
  width: 12%;
  height: 12%;
  border-radius: 25rem;
  top: 70%;
  left: 75%;
}

.earthLands .land9 {
  position: absolute;
  background-color: rgb(5, 120, 5);
  width: 40%;
  height: 15%;
  border-radius: 25rem;
  top: 10%;
  left: -95%;
}

.earthLands .land10 {
  position: absolute;
  background-color: rgb(38, 128, 0);
  width: 25%;
  height: 10%;
  border-radius: 25rem;
  top: 28%;
  left: -85%;
}

.earthLands .land11 {
  position: absolute;
  background-color: green;
  width: 35%;
  height: 12%;
  border-radius: 25rem;
  top: 60%;
  left: -85%;
}

.earthLands .land12 {
  position: absolute;
  background-color: green;
  width: 5%;
  height: 10%;
  border-radius: 25rem;
  top: 70%;
  left: -65%;
}

.earthLands .land13 {
  position: absolute;
  background-color: green;
  width: 40%;
  height: 8%;
  border-radius: 25rem;
  top: 75%;
  left: -80%;
}

.earthLands .land14 {
  position: absolute;
  background-color: green;
  width: 30%;
  height: 12%;
  border-radius: 25rem;
  top: 20%;
  left: -30%;
}

.earthLands .land15 {
  position: absolute;
  background-color: rgb(64, 128, 0);
  width: 35%;
  height: 20%;
  border-radius: 25rem;
  top: 45%;
  left: -35%;
}

.earthLands .land16 {
  position: absolute;
  background-color: green;
  width: 12%;
  height: 12%;
  border-radius: 25rem;
  top: 70%;
  left: -25%;
}

.earthClouds {
  position: absolute;
  z-index: 3;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  opacity: 0.6;
  animation: blobMov 8s linear infinite;
}

.earthClouds .cloud1 {
  position: absolute;
  background-color: whitesmoke;
  width: 45%;
  height: 20%;
  border-radius: 25rem;
  top: 12%;
  left: 5%;
}

.earthClouds .cloud2 {
  position: absolute;
  background-color: whitesmoke;
  width: 45%;
  height: 20%;
  border-radius: 25rem;
  top: 12%;
  left: -95%;
}

.earthClouds .cloud3 {
  position: absolute;
  background-color: whitesmoke;
  width: 30%;
  height: 15%;
  border-radius: 25rem;
  top: 50%;
  left: 25%;
}

.earthClouds .cloud4 {
  position: absolute;
  background-color: whitesmoke;
  width: 30%;
  height: 15%;
  border-radius: 25rem;
  top: 50%;
  left: -75%;
}

.earthClouds .cloud5 {
  position: absolute;
  background-color: whitesmoke;
  width: 30%;
  height: 12%;
  border-radius: 25rem;
  top: 70%;
  left: -10%;
}

.earthClouds .cloud6 {
  position: absolute;
  background-color: whitesmoke;
  width: 30%;
  height: 12%;
  border-radius: 25rem;
  top: 70%;
  left: -110%;
}

.moon {
  position: absolute;
  background-color: rgb(159, 159, 159);
  box-shadow: 0 0 15px rgb(193, 193, 193);
  height: 20%;
  width: 20%;
  border-radius: 50%;
  overflow: hidden;
  z-index: 1;
  transition: 0.6s;
  animation: 5s ease-in-out infinite moonMove;
}

.moon:hover {
  animation-play-state: paused;
}

.moon .crater1 {
  position: absolute;
  background-color: gray;
  width: 20%;
  height: 20%;
  border-radius: 25rem;
  top: 10%;
  left: 20%;
}

.moon .crater2 {
  position: absolute;
  background-color: gray;
  width: 30%;
  height: 30%;
  border-radius: 25rem;
  top: 50%;
  left: 40%;
}

.moon .crater3 {
  position: absolute;
  background-color: gray;
  width: 22%;
  height: 22%;
  border-radius: 25rem;
  top: 20%;
  left: 60%;
}

.moon .crater4 {
  position: absolute;
  background-color: gray;
  width: 15%;
  height: 15%;
  border-radius: 25rem;
  top: 70%;
  left: 25%;
}

@keyframes moonMove {
  0% {
    transform: translateX(-150%);
  }
  50% {
    transform: translateX(300%);
  }
  100% {
    z-index: 0;
    transform: translateX(-150%);
  }
}
@keyframes circulationEarth {
  from {
    transform: rotate(0deg) translateX(200%) translateY(200%) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(200%) translateY(200%) rotate(-360deg);
  }
}
@keyframes blobMov {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}
.venusHolder {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-origin: center;
  animation: circulationVenus 9s linear infinite;
}
.venusHolder:hover {
  animation-play-state: paused;
}

.venusHolder:hover .venus {
  width: 80%;
  height: 80%;
}

.venusHolder:hover .venusText {
  display: block;
}

.venus {
  position: absolute;
  background-color: rgb(227, 131, 28);
  box-shadow: 0 0 15px rgb(227, 124, 28);
  height: 35%;
  width: 35%;
  border-radius: 50%;
  overflow: hidden;
  z-index: 1;
  transition: 0.6s;
}

.venusText {
  position: absolute;
  left: 80%;
  top: 0%;
  width: 150px;
  color: white;
  padding: 10px;
  display: none;
}

.venusClouds {
  position: absolute;
  z-index: 2;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  opacity: 1;
  animation: blobMov 8s linear infinite;
}

.venus .cloud1 {
  position: absolute;
  background-color: rgb(204, 92, 23);
  width: 80%;
  height: 15%;
  border-radius: 25rem;
  top: 5%;
  left: 0%;
}

.venus .cloud2 {
  position: absolute;
  background-color: rgb(204, 92, 23);
  width: 60%;
  height: 20%;
  border-radius: 25rem;
  top: 30%;
  left: 35%;
}

.venus .cloud3 {
  position: absolute;
  background-color: rgb(204, 92, 23);
  width: 40%;
  height: 20%;
  border-radius: 25rem;
  top: 40%;
  left: 15%;
}

.venus .cloud4 {
  position: absolute;
  background-color: rgb(204, 92, 23);
  width: 40%;
  height: 30%;
  border-radius: 25rem;
  top: 80%;
  left: 40%;
}

.venus .cloud5 {
  position: absolute;
  background-color: rgb(204, 92, 23);
  width: 80%;
  height: 15%;
  border-radius: 25rem;
  top: 5%;
  left: -100%;
}

.venus .cloud6 {
  position: absolute;
  background-color: rgb(204, 92, 23);
  width: 60%;
  height: 20%;
  border-radius: 25rem;
  top: 30%;
  left: -65%;
}

.venus .cloud7 {
  position: absolute;
  background-color: rgb(204, 92, 23);
  width: 40%;
  height: 20%;
  border-radius: 25rem;
  top: 40%;
  left: -85%;
}

.venus .cloud8 {
  position: absolute;
  background-color: rgb(204, 92, 23);
  width: 40%;
  height: 30%;
  border-radius: 25rem;
  top: 80%;
  left: -60%;
}

.venus .cloud9 {
  position: absolute;
  background-color: rgb(171, 79, 21);
  width: 15%;
  height: 15%;
  border-radius: 25rem;
  top: 65%;
  left: 10%;
}

.venus .cloud10 {
  position: absolute;
  background-color: rgb(171, 79, 21);
  width: 15%;
  height: 15%;
  border-radius: 25rem;
  top: 65%;
  left: -90%;
}

.venus .cloud11 {
  position: absolute;
  background-color: rgb(204, 92, 23);
  width: 40%;
  height: 20%;
  border-radius: 25rem;
  top: 40%;
  left: -85%;
}

.venus .cloud12 {
  position: absolute;
  background-color: rgb(204, 92, 23);
  width: 40%;
  height: 30%;
  border-radius: 25rem;
  top: 80%;
  left: -60%;
}

@keyframes circulationVenus {
  from {
    transform: rotate(0deg) translateX(120%) translateY(120%) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(120%) translateY(120%) rotate(-360deg);
  }
}
@keyframes blobMov {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}
.marsHolder {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-origin: center;
  animation: circulationMars 12s linear infinite;
}
.marsHolder:hover {
  animation-play-state: paused;
}

.marsHolder:hover .mars {
  width: 80%;
  height: 80%;
}

.marsHolder:hover .marsText {
  display: block;
}

.mars {
  position: absolute;
  background-color: rgb(225, 80, 2);
  box-shadow: 0 0 15px rgb(224, 96, 27);
  height: 40%;
  width: 40%;
  border-radius: 50%;
  overflow: hidden;
  z-index: 1;
  transition: 0.6s;
}

.marsText {
  position: absolute;
  left: 100%;
  top: 0%;
  width: 150px;
  color: white;
  padding: 10px;
  display: none;
}

.marsClouds {
  position: absolute;
  z-index: 2;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  opacity: 1;
  animation: blobMov 8s linear infinite;
}

.mars .cloud1 {
  position: absolute;
  background-color: rgb(189, 66, 13);
  width: 25%;
  height: 20%;
  border-radius: 25rem;
  top: 20%;
  left: 30%;
}

.mars .cloud2 {
  position: absolute;
  background-color: rgb(189, 51, 13);
  width: 25%;
  height: 20%;
  border-radius: 25rem;
  top: 20%;
  left: -70%;
}

.mars .cloud3 {
  position: absolute;
  background-color: rgb(189, 66, 13);
  width: 36%;
  height: 18%;
  border-radius: 25rem;
  top: 45%;
  left: 0%;
}

.mars .cloud4 {
  position: absolute;
  background-color: rgb(189, 51, 13);
  width: 36%;
  height: 18%;
  border-radius: 25rem;
  top: 45%;
  left: -100%;
}

.mars .cloud5 {
  position: absolute;
  background-color: rgb(189, 66, 13);
  width: 50%;
  height: 15%;
  border-radius: 25rem;
  top: 70%;
  left: 50%;
}

.mars .cloud6 {
  position: absolute;
  background-color: rgb(189, 51, 13);
  width: 50%;
  height: 15%;
  border-radius: 25rem;
  top: 70%;
  left: -50%;
}

@keyframes circulationMars {
  from {
    transform: rotate(0deg) translateX(270%) translateY(270%) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(270%) translateY(270%) rotate(-360deg);
  }
}
@keyframes blobMov {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}
.jupiterHolder {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-origin: center;
  animation: circulationJupiter 14s linear infinite;
}
.jupiterHolder:hover {
  animation-play-state: paused;
}

.jupiterHolder:hover .jupiterText {
  display: block;
}

.jupiterHolder:hover .jupiter {
  width: 150%;
  height: 150%;
}

.jupiter {
  position: absolute;
  background-color: rgb(196, 164, 116);
  box-shadow: 0 0 15px rgb(197, 177, 148);
  height: 80%;
  width: 80%;
  border-radius: 50%;
  overflow: hidden;
  z-index: 1;
  transition: 0.6s;
}

.jupiterText {
  position: absolute;
  left: 150%;
  top: -30%;
  width: 150px;
  color: white;
  padding: 10px;
  display: none;
}

.jupiterClouds {
  position: absolute;
  z-index: 2;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  opacity: 1;
  animation: blobMov 8s linear infinite;
}

.jupiter .cloud1 {
  position: absolute;
  background-color: rgb(163, 131, 87);
  width: 80%;
  height: 10%;
  border-radius: 25rem;
  top: 5%;
  left: 0;
}

.jupiter .cloud2 {
  position: absolute;
  background-color: rgb(163, 131, 87);
  width: 80%;
  height: 10%;
  border-radius: 25rem;
  top: 5%;
  left: -100%;
}

.jupiter .cloud3 {
  position: absolute;
  background-color: rgb(188, 128, 44);
  width: 95%;
  height: 12%;
  border-radius: 25rem;
  top: 25%;
  left: 5%;
}

.jupiter .cloud4 {
  position: absolute;
  background-color: rgb(188, 128, 44);
  width: 95%;
  height: 12%;
  border-radius: 25rem;
  top: 25%;
  left: -95%;
}

.jupiter .cloud5 {
  position: absolute;
  background-color: rgb(163, 131, 87);
  width: 80%;
  height: 10%;
  border-radius: 25rem;
  top: 50%;
  left: 25%;
}

.jupiter .cloud6 {
  position: absolute;
  background-color: rgb(163, 131, 87);
  width: 80%;
  height: 10%;
  border-radius: 25rem;
  top: 50%;
  left: -75%;
}

.jupiter .cloud7 {
  position: absolute;
  background-color: rgb(143, 115, 77);
  width: 60%;
  height: 13%;
  border-radius: 25rem;
  top: 80%;
  left: 40%;
}

.jupiter .cloud8 {
  position: absolute;
  background-color: rgb(143, 115, 77);
  width: 60%;
  height: 13%;
  border-radius: 25rem;
  top: 80%;
  left: -60%;
}

.jupiter .cloud9 {
  position: absolute;
  background-color: rgb(196, 164, 116);
  width: 30%;
  height: 25%;
  border-radius: 25rem;
  top: 33%;
  left: 20%;
}

.jupiter .cloud10 {
  position: absolute;
  background-color: rgb(196, 164, 116);
  width: 30%;
  height: 25%;
  border-radius: 25rem;
  top: 33%;
  left: -80%;
}

.jupiter .cloud11 {
  position: absolute;
  background-color: rgb(171, 143, 102);
  width: 20%;
  height: 15%;
  border-radius: 25rem;
  top: 36%;
  left: 25%;
}

.jupiter .cloud12 {
  position: absolute;
  background-color: rgb(171, 143, 102);
  width: 20%;
  height: 15%;
  border-radius: 25rem;
  top: 36%;
  left: -75%;
}

.jupiter .cloud13 {
  position: absolute;
  background-color: rgb(133, 112, 79);
  width: 10%;
  height: 7%;
  border-radius: 25rem;
  top: 40%;
  left: 30%;
}

.jupiter .cloud14 {
  position: absolute;
  background-color: rgb(133, 112, 79);
  width: 10%;
  height: 7%;
  border-radius: 25rem;
  top: 40%;
  left: -70%;
}

@keyframes circulationJupiter {
  from {
    transform: rotate(0deg) translateX(350%) translateY(350%) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(350%) translateY(350%) rotate(-360deg);
  }
}
@keyframes blobMov {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}
.saturnHolder {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-origin: center;
  animation: circulationSaturn 17s linear infinite;
}
.saturnHolder:hover {
  animation-play-state: paused;
}

.saturnHolder:hover .saturn {
  width: 140%;
  height: 140%;
}

.saturnHolder:hover .saturnRingForward {
  width: 300%;
  height: 40%;
  top: 35%;
  left: -75%;
}

.saturnHolder:hover .saturnRingBackward {
  width: 300%;
  height: 40%;
  top: 75%;
  left: -78%;
}

.saturnHolder:hover .saturnText {
  display: block;
}

.saturn {
  position: absolute;
  background-color: rgb(219, 190, 159);
  box-shadow: 0 0 15px rgb(219, 190, 159);
  height: 70%;
  width: 70%;
  border-radius: 50%;
  overflow: hidden;
  z-index: 1;
  transition: 0.6s;
  z-index: 1;
}

.saturnClouds {
  position: absolute;
  z-index: 2;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  opacity: 1;
  animation: blobMov 8s linear infinite;
  animation-play-state: paused;
}

.saturnText {
  position: absolute;
  left: 150%;
  top: 50%;
  width: 150px;
  color: white;
  padding: 10px;
  display: none;
}

.saturn .cloud1 {
  position: absolute;
  background-color: rgb(192, 166, 139);
  width: 100%;
  height: 10%;
  border-radius: 25rem;
  top: 10%;
  left: 0%;
}

.saturn .cloud2 {
  position: absolute;
  background-color: rgb(192, 166, 139);
  width: 100%;
  height: 8%;
  border-radius: 25rem;
  top: 15%;
  left: 0;
}

.saturn .cloud3 {
  position: absolute;
  background-color: rgb(176, 153, 128);
  width: 100%;
  height: 12%;
  border-radius: 25rem;
  top: 25%;
  left: 0;
}

.saturn .cloud4 {
  position: absolute;
  background-color: rgb(192, 166, 139);
  width: 100%;
  height: 5%;
  border-radius: 25rem;
  top: 40%;
  left: 0%;
}

.saturn .cloud5 {
  position: absolute;
  background-color: rgb(191, 155, 117);
  width: 100%;
  height: 13%;
  border-radius: 25rem;
  top: 50%;
  left: 0%;
}

.saturn .cloud6 {
  position: absolute;
  background-color: rgb(192, 166, 139);
  width: 100%;
  height: 7%;
  border-radius: 25rem;
  top: 65%;
  left: 0;
}

.saturn .cloud7 {
  position: absolute;
  background-color: rgb(192, 166, 139);
  width: 100%;
  height: 10%;
  border-radius: 25rem;
  top: 75%;
  left: 0%;
}

.saturnRingForward {
  position: absolute;
  top: 20%;
  left: -55%;
  width: 175%;
  height: 18%;
  transition: 0.6s;
  transform: rotate(10deg);
  background: rgb(182, 156, 129);
  border-top-left-radius: 120%;
  border-top-right-radius: 120%;
}

.saturnRingBackward {
  position: absolute;
  background-color: rgb(152, 132, 108);
  width: 175%;
  height: 18%;
  z-index: 3;
  top: 38%;
  left: -57%;
  transition: 0.6s;
  transform: translateY(-50%) rotate(10deg);
  border-bottom-left-radius: 120%;
  border-bottom-right-radius: 120%;
}

@keyframes circulationSaturn {
  from {
    transform: rotate(0deg) translateX(450%) translateY(450%) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(450%) translateY(450%) rotate(-360deg);
  }
}
@keyframes blobMov {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}
.uranusHolder {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-origin: center;
  animation: circulationUranus 22s linear infinite;
}
.uranusHolder:hover {
  animation-play-state: paused;
}

.uranusHolder:hover .uranus {
  width: 120%;
  height: 120%;
}

.uranusHolder:hover .uranusText {
  display: block;
}

.uranus {
  position: absolute;
  background-color: rgb(43, 89, 168);
  box-shadow: 0 0 15px rgb(117, 154, 218);
  height: 60%;
  width: 60%;
  border-radius: 50%;
  overflow: hidden;
  z-index: 1;
  transition: 0.6s;
}

.uranusText {
  position: absolute;
  left: 140%;
  top: -50%;
  width: 150px;
  color: white;
  padding: 10px;
  display: none;
}

.uranusClouds {
  position: absolute;
  z-index: 2;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  opacity: 1;
  animation: blobMov 8s linear infinite;
}

.uranus .cloud1 {
  position: absolute;
  background-color: rgb(101, 152, 242);
  width: 50%;
  height: 15%;
  border-radius: 25rem;
  top: 20%;
  left: 30%;
}

.uranus .cloud2 {
  position: absolute;
  background-color: rgb(101, 152, 242);
  width: 50%;
  height: 15%;
  border-radius: 25rem;
  top: 20%;
  left: -70%;
}

.uranus .cloud3 {
  position: absolute;
  background-color: rgb(101, 152, 242);
  width: 35%;
  height: 18%;
  border-radius: 25rem;
  top: 45%;
  left: 0%;
}

.uranus .cloud4 {
  position: absolute;
  background-color: rgb(101, 152, 242);
  width: 35%;
  height: 18%;
  border-radius: 25rem;
  top: 45%;
  left: -100%;
}

.uranus .cloud5 {
  position: absolute;
  background-color: rgb(101, 152, 242);
  width: 20%;
  height: 15%;
  border-radius: 25rem;
  top: 55%;
  left: 45%;
}

.uranus .cloud6 {
  position: absolute;
  background-color: rgb(101, 152, 242);
  width: 20%;
  height: 15%;
  border-radius: 25rem;
  top: 55%;
  left: -55%;
}

.uranus .cloud7 {
  position: absolute;
  background-color: rgb(101, 152, 242);
  width: 60%;
  height: 12%;
  border-radius: 25rem;
  top: 75%;
  left: -10%;
}

.uranus .cloud8 {
  position: absolute;
  background-color: rgb(101, 152, 242);
  width: 60%;
  height: 12%;
  border-radius: 25rem;
  top: 75%;
  left: -110%;
}

@keyframes circulationUranus {
  from {
    transform: rotate(0deg) translateX(550%) translateY(550%) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(550%) translateY(550%) rotate(-360deg);
  }
}
@keyframes blobMov {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}
.neptunHolder {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-origin: center;
  animation: circulationNeptun 24s linear infinite;
}
.neptunHolder:hover {
  animation-play-state: paused;
}

.neptunHolder:hover .neptun {
  width: 120%;
  height: 120%;
}

.neptunHolder:hover .neptunText {
  display: block;
}

.neptun {
  position: absolute;
  background-color: rgb(33, 68, 129);
  box-shadow: 0 0 15px rgb(52, 93, 164);
  height: 55%;
  width: 55%;
  border-radius: 50%;
  overflow: hidden;
  z-index: 1;
  transition: 0.6s;
}

.neptunText {
  position: absolute;
  left: 140%;
  top: -50%;
  width: 150px;
  color: white;
  padding: 10px;
  display: none;
}

.neptunClouds {
  position: absolute;
  z-index: 2;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  opacity: 1;
  animation: blobMov 8s linear infinite;
}

.neptun .cloud1 {
  position: absolute;
  background-color: rgb(26, 92, 205);
  width: 25%;
  height: 12%;
  border-radius: 25rem;
  top: 15%;
  left: 0%;
}

.neptun .cloud2 {
  position: absolute;
  background-color: rgb(26, 92, 205);
  width: 25%;
  height: 12%;
  border-radius: 25rem;
  top: 15%;
  left: -100%;
}

.neptun .cloud3 {
  position: absolute;
  background-color: rgb(26, 92, 205);
  width: 45%;
  height: 20%;
  border-radius: 25rem;
  top: 45%;
  left: 20%;
}

.neptun .cloud4 {
  position: absolute;
  background-color: rgb(26, 92, 205);
  width: 45%;
  height: 20%;
  border-radius: 25rem;
  top: 45%;
  left: -80%;
}

.neptun .cloud5 {
  position: absolute;
  background-color: rgb(26, 92, 205);
  width: 20%;
  height: 15%;
  border-radius: 25rem;
  top: 55%;
  left: 45%;
}

.neptun .cloud6 {
  position: absolute;
  background-color: rgb(26, 92, 205);
  width: 20%;
  height: 15%;
  border-radius: 25rem;
  top: 55%;
  left: -55%;
}

.neptun .cloud7 {
  position: absolute;
  background-color: rgb(26, 92, 205);
  width: 60%;
  height: 15%;
  border-radius: 25rem;
  top: 80%;
  left: -10%;
}

.neptun .cloud8 {
  position: absolute;
  background-color: rgb(26, 92, 205);
  width: 60%;
  height: 15%;
  border-radius: 25rem;
  top: 80%;
  left: -110%;
}

@keyframes circulationNeptun {
  from {
    transform: rotate(0deg) translateX(600%) translateY(600%) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(600%) translateY(600%) rotate(-360deg);
  }
}
body {
  position: relative;
  margin: 0;
  background-size: cover;
  height: 100vh;
  font-family: "Caveat Brush", cursive;
  overflow: hidden;
  background: radial-gradient(#0c0065, #000000);
}

.orbit {
  position: absolute;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

#solarSystem {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sun-outline {
  position: absolute;
  width: 80%;
  height: 80%;
  border-radius: 50%;
  box-shadow: 0 0 30px rgb(254, 254, 150);
  border: 2px solid rgb(255, 162, 0);
  background-color: rgb(255, 210, 75);
}

.sun-inline {
  position: absolute;
  width: 40%;
  height: 40%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  box-shadow: 0 0 40px rgb(255, 64, 0);
  background-color: orange;
  border: 15px solid orange;
  opacity: 0.3;
}

/*# sourceMappingURL=style.css.map */
