@import url("https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap");
.stars {
  min-height: 100vh;
}

.star {
  position: absolute;
  height: 1px;
  width: 1px;
  border-radius: 50%;
  background-color: white;
}

.stars div:nth-child(1) {
  top: 1031px;
  left: 212px;
  height: 3px;
  width: 3px;
}

.stars div:nth-child(2) {
  top: 142px;
  left: 596px;
  height: 3px;
  width: 3px;
}

.stars div:nth-child(3) {
  top: 911px;
  left: 1725px;
  height: 2px;
  width: 2px;
}

.stars div:nth-child(4) {
  top: 71px;
  left: 1463px;
  height: 3px;
  width: 3px;
}

.stars div:nth-child(5) {
  top: 612px;
  left: 1399px;
  height: 2px;
  width: 2px;
}

.stars div:nth-child(6) {
  top: 1008px;
  left: 806px;
  height: 1px;
  width: 1px;
}

.stars div:nth-child(7) {
  top: 1333px;
  left: 2569px;
  height: 1px;
  width: 1px;
}

.stars div:nth-child(8) {
  top: 437px;
  left: 2212px;
  height: 2px;
  width: 2px;
}

.stars div:nth-child(9) {
  top: 891px;
  left: 1006px;
  height: 2px;
  width: 2px;
}

.stars div:nth-child(10) {
  top: 422px;
  left: 2971px;
  height: 2px;
  width: 2px;
}

.stars div:nth-child(11) {
  top: 1146px;
  left: 2323px;
  height: 1px;
  width: 1px;
}

.stars div:nth-child(12) {
  top: 318px;
  left: 1968px;
  height: 2px;
  width: 2px;
}

.stars div:nth-child(13) {
  top: 1460px;
  left: 2116px;
  height: 1px;
  width: 1px;
}

.stars div:nth-child(14) {
  top: 327px;
  left: 990px;
  height: 2px;
  width: 2px;
}

.stars div:nth-child(15) {
  top: 834px;
  left: 340px;
  height: 1px;
  width: 1px;
}

.stars div:nth-child(16) {
  top: 309px;
  left: 1218px;
  height: 3px;
  width: 3px;
}

.stars div:nth-child(17) {
  top: 1142px;
  left: 2810px;
  height: 1px;
  width: 1px;
}

.stars div:nth-child(18) {
  top: 1449px;
  left: 2516px;
  height: 3px;
  width: 3px;
}

.stars div:nth-child(19) {
  top: 1477px;
  left: 926px;
  height: 1px;
  width: 1px;
}

.stars div:nth-child(20) {
  top: 371px;
  left: 463px;
  height: 2px;
  width: 2px;
}

.stars div:nth-child(21) {
  top: 1438px;
  left: 2064px;
  height: 1px;
  width: 1px;
}

.stars div:nth-child(22) {
  top: 1112px;
  left: 2252px;
  height: 1px;
  width: 1px;
}

.stars div:nth-child(23) {
  top: 947px;
  left: 1067px;
  height: 2px;
  width: 2px;
}

.stars div:nth-child(24) {
  top: 47px;
  left: 1701px;
  height: 1px;
  width: 1px;
}

.stars div:nth-child(25) {
  top: 1281px;
  left: 2868px;
  height: 2px;
  width: 2px;
}

.stars div:nth-child(26) {
  top: 683px;
  left: 2502px;
  height: 1px;
  width: 1px;
}

.stars div:nth-child(27) {
  top: 622px;
  left: 1355px;
  height: 1px;
  width: 1px;
}

.stars div:nth-child(28) {
  top: 1382px;
  left: 2452px;
  height: 3px;
  width: 3px;
}

.stars div:nth-child(29) {
  top: 447px;
  left: 2766px;
  height: 2px;
  width: 2px;
}

.stars div:nth-child(30) {
  top: 1045px;
  left: 1453px;
  height: 1px;
  width: 1px;
}

.stars div:nth-child(31) {
  top: 224px;
  left: 2499px;
  height: 2px;
  width: 2px;
}

.stars div:nth-child(32) {
  top: 257px;
  left: 69px;
  height: 3px;
  width: 3px;
}

.stars div:nth-child(33) {
  top: 1269px;
  left: 2719px;
  height: 3px;
  width: 3px;
}

.stars div:nth-child(34) {
  top: 586px;
  left: 1574px;
  height: 2px;
  width: 2px;
}

.stars div:nth-child(35) {
  top: 1173px;
  left: 2833px;
  height: 2px;
  width: 2px;
}

.stars div:nth-child(36) {
  top: 1243px;
  left: 2942px;
  height: 3px;
  width: 3px;
}

.stars div:nth-child(37) {
  top: 1028px;
  left: 1074px;
  height: 2px;
  width: 2px;
}

.stars div:nth-child(38) {
  top: 1312px;
  left: 2861px;
  height: 3px;
  width: 3px;
}

.stars div:nth-child(39) {
  top: 1193px;
  left: 1806px;
  height: 1px;
  width: 1px;
}

.stars div:nth-child(40) {
  top: 1239px;
  left: 1256px;
  height: 1px;
  width: 1px;
}

.stars div:nth-child(41) {
  top: 98px;
  left: 1457px;
  height: 1px;
  width: 1px;
}

.stars div:nth-child(42) {
  top: 693px;
  left: 41px;
  height: 2px;
  width: 2px;
}

.stars div:nth-child(43) {
  top: 461px;
  left: 1078px;
  height: 2px;
  width: 2px;
}

.stars div:nth-child(44) {
  top: 883px;
  left: 1682px;
  height: 3px;
  width: 3px;
}

.stars div:nth-child(45) {
  top: 564px;
  left: 1948px;
  height: 2px;
  width: 2px;
}

.stars div:nth-child(46) {
  top: 943px;
  left: 167px;
  height: 3px;
  width: 3px;
}

.stars div:nth-child(47) {
  top: 567px;
  left: 151px;
  height: 3px;
  width: 3px;
}

.stars div:nth-child(48) {
  top: 1311px;
  left: 1273px;
  height: 2px;
  width: 2px;
}

.stars div:nth-child(49) {
  top: 1213px;
  left: 2806px;
  height: 3px;
  width: 3px;
}

.stars div:nth-child(50) {
  top: 1001px;
  left: 2442px;
  height: 3px;
  width: 3px;
}

.stars div:nth-child(51) {
  top: 847px;
  left: 2464px;
  height: 1px;
  width: 1px;
}

.stars div:nth-child(52) {
  top: 613px;
  left: 1944px;
  height: 2px;
  width: 2px;
}

.stars div:nth-child(53) {
  top: 1451px;
  left: 526px;
  height: 3px;
  width: 3px;
}

.stars div:nth-child(54) {
  top: 901px;
  left: 1585px;
  height: 2px;
  width: 2px;
}

.stars div:nth-child(55) {
  top: 141px;
  left: 297px;
  height: 3px;
  width: 3px;
}

.stars div:nth-child(56) {
  top: 1478px;
  left: 513px;
  height: 3px;
  width: 3px;
}

.stars div:nth-child(57) {
  top: 619px;
  left: 694px;
  height: 1px;
  width: 1px;
}

.stars div:nth-child(58) {
  top: 947px;
  left: 1328px;
  height: 3px;
  width: 3px;
}

.stars div:nth-child(59) {
  top: 1223px;
  left: 1080px;
  height: 2px;
  width: 2px;
}

.stars div:nth-child(60) {
  top: 1278px;
  left: 1706px;
  height: 3px;
  width: 3px;
}

.stars div:nth-child(61) {
  top: 917px;
  left: 1882px;
  height: 1px;
  width: 1px;
}

.stars div:nth-child(62) {
  top: 1474px;
  left: 465px;
  height: 3px;
  width: 3px;
}

.stars div:nth-child(63) {
  top: 1367px;
  left: 730px;
  height: 2px;
  width: 2px;
}

.stars div:nth-child(64) {
  top: 375px;
  left: 1859px;
  height: 1px;
  width: 1px;
}

.stars div:nth-child(65) {
  top: 511px;
  left: 2668px;
  height: 3px;
  width: 3px;
}

.stars div:nth-child(66) {
  top: 483px;
  left: 222px;
  height: 3px;
  width: 3px;
}

.stars div:nth-child(67) {
  top: 917px;
  left: 1043px;
  height: 1px;
  width: 1px;
}

.stars div:nth-child(68) {
  top: 483px;
  left: 2098px;
  height: 2px;
  width: 2px;
}

.stars div:nth-child(69) {
  top: 1333px;
  left: 2734px;
  height: 1px;
  width: 1px;
}

.stars div:nth-child(70) {
  top: 267px;
  left: 287px;
  height: 3px;
  width: 3px;
}

.stars div:nth-child(71) {
  top: 1303px;
  left: 2641px;
  height: 1px;
  width: 1px;
}

.stars div:nth-child(72) {
  top: 24px;
  left: 1249px;
  height: 3px;
  width: 3px;
}

.stars div:nth-child(73) {
  top: 573px;
  left: 1938px;
  height: 2px;
  width: 2px;
}

.stars div:nth-child(74) {
  top: 1362px;
  left: 1874px;
  height: 3px;
  width: 3px;
}

.stars div:nth-child(75) {
  top: 332px;
  left: 2497px;
  height: 2px;
  width: 2px;
}

.stars div:nth-child(76) {
  top: 1155px;
  left: 838px;
  height: 3px;
  width: 3px;
}

.stars div:nth-child(77) {
  top: 113px;
  left: 2687px;
  height: 2px;
  width: 2px;
}

.stars div:nth-child(78) {
  top: 695px;
  left: 1765px;
  height: 3px;
  width: 3px;
}

.stars div:nth-child(79) {
  top: 446px;
  left: 1658px;
  height: 1px;
  width: 1px;
}

.stars div:nth-child(80) {
  top: 1196px;
  left: 2958px;
  height: 2px;
  width: 2px;
}

.stars div:nth-child(81) {
  top: 10px;
  left: 2029px;
  height: 1px;
  width: 1px;
}

.stars div:nth-child(82) {
  top: 584px;
  left: 1925px;
  height: 2px;
  width: 2px;
}

.stars div:nth-child(83) {
  top: 1202px;
  left: 2351px;
  height: 2px;
  width: 2px;
}

.stars div:nth-child(84) {
  top: 880px;
  left: 548px;
  height: 3px;
  width: 3px;
}

.stars div:nth-child(85) {
  top: 108px;
  left: 49px;
  height: 1px;
  width: 1px;
}

.stars div:nth-child(86) {
  top: 987px;
  left: 442px;
  height: 2px;
  width: 2px;
}

.stars div:nth-child(87) {
  top: 1457px;
  left: 1973px;
  height: 3px;
  width: 3px;
}

.stars div:nth-child(88) {
  top: 1296px;
  left: 669px;
  height: 1px;
  width: 1px;
}

.stars div:nth-child(89) {
  top: 530px;
  left: 2637px;
  height: 1px;
  width: 1px;
}

.stars div:nth-child(90) {
  top: 922px;
  left: 797px;
  height: 2px;
  width: 2px;
}

.stars div:nth-child(91) {
  top: 866px;
  left: 904px;
  height: 3px;
  width: 3px;
}

.stars div:nth-child(92) {
  top: 912px;
  left: 1885px;
  height: 2px;
  width: 2px;
}

.stars div:nth-child(93) {
  top: 571px;
  left: 951px;
  height: 1px;
  width: 1px;
}

.stars div:nth-child(94) {
  top: 540px;
  left: 2278px;
  height: 1px;
  width: 1px;
}

.stars div:nth-child(95) {
  top: 1076px;
  left: 288px;
  height: 2px;
  width: 2px;
}

.stars div:nth-child(96) {
  top: 344px;
  left: 1023px;
  height: 3px;
  width: 3px;
}

.stars div:nth-child(97) {
  top: 1379px;
  left: 1198px;
  height: 3px;
  width: 3px;
}

.stars div:nth-child(98) {
  top: 486px;
  left: 1890px;
  height: 1px;
  width: 1px;
}

.stars div:nth-child(99) {
  top: 1441px;
  left: 2970px;
  height: 3px;
  width: 3px;
}

.stars div:nth-child(100) {
  top: 1250px;
  left: 1058px;
  height: 2px;
  width: 2px;
}

@keyframes blobMov {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}
.mercuryHolder {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-origin: center;
  animation: circulationMercury 8s linear infinite;
}
.mercuryHolder:hover {
  animation-play-state: paused;
}

.mercuryHolder:hover .mercury {
  width: 80%;
  height: 80%;
}

.mercuryHolder:hover .mercuryText {
  display: block;
}

.mercury {
  position: absolute;
  background-color: rgb(227, 148, 28);
  box-shadow: 0 0 15px rgb(227, 148, 28);
  height: 30%;
  width: 30%;
  border-radius: 50%;
  overflow: hidden;
  z-index: 1;
  transition: 0.6s;
}

.mercuryText {
  position: absolute;
  left: 80%;
  top: 0%;
  width: 150px;
  color: white;
  padding: 10px;
  display: none;
}

.mercuryClouds {
  position: absolute;
  z-index: 2;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  opacity: 1;
  animation: blobMov 8s linear infinite;
}

.mercury .cloud1 {
  position: absolute;
  background-color: rgb(143, 93, 18);
  width: 60%;
  height: 18%;
  border-radius: 25rem;
  top: 0%;
  left: 30%;
}

.mercury .cloud2 {
  position: absolute;
  background-color: rgb(143, 93, 18);
  width: 50%;
  height: 20%;
  border-radius: 25rem;
  top: 35%;
  left: -5%;
}

.mercury .cloud3 {
  position: absolute;
  background-color: rgb(143, 93, 18);
  width: 25%;
  height: 20%;
  border-radius: 25rem;
  top: 50%;
  left: -1%;
}

.mercury .cloud4 {
  position: absolute;
  background-color: rgb(143, 93, 18);
  width: 30%;
  height: 18%;
  border-radius: 25rem;
  top: 70%;
  left: 45%;
}

.mercury .cloud5 {
  position: absolute;
  background-color: rgb(143, 93, 18);
  width: 60%;
  height: 18%;
  border-radius: 25rem;
  top: 0%;
  left: -70%;
}

.mercury .cloud6 {
  position: absolute;
  background-color: rgb(143, 93, 18);
  width: 50%;
  height: 20%;
  border-radius: 25rem;
  top: 35%;
  left: -105%;
}

.mercury .cloud7 {
  position: absolute;
  background-color: rgb(143, 93, 18);
  width: 25%;
  height: 20%;
  border-radius: 25rem;
  top: 50%;
  left: -101%;
}

.mercury .cloud8 {
  position: absolute;
  background-color: rgb(143, 93, 18);
  width: 30%;
  height: 18%;
  border-radius: 25rem;
  top: 70%;
  left: -55%;
}

.mercury .cloud9 {
  position: absolute;
  background-color: rgb(117, 76, 16);
  width: 20%;
  height: 10%;
  border-radius: 25rem;
  top: 50%;
  left: 50%;
}

.mercury .cloud10 {
  position: absolute;
  background-color: rgb(117, 76, 16);
  width: 20%;
  height: 10%;
  border-radius: 25rem;
  top: 50%;
  left: -50%;
}

.mercury .cloud11 {
  position: absolute;
  background-color: rgb(116, 76, 15);
  width: 20%;
  height: 18%;
  border-radius: 25rem;
  top: 80%;
  left: 80%;
}

.mercury .cloud12 {
  position: absolute;
  background-color: rgb(116, 76, 15);
  width: 20%;
  height: 12%;
  border-radius: 25rem;
  top: 80%;
  left: -20%;
}

@keyframes circulationMercury {
  from {
    transform: rotate(0deg) translateX(80%) translateY(80%) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(80%) translateY(80%) rotate(-360deg);
  }
}
@keyframes blobMov {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}
.earthHolder {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-origin: center;
  animation: circulationEarth 10.5s linear infinite;
}
.earthHolder:hover {
  animation-play-state: paused;
}

.earthHolder:hover .earth {
  width: 100%;
  height: 100%;
}

.earthHolder:hover .moon {
  width: 40%;
  height: 40%;
}

.earthHolder:hover .earthText {
  display: block;
}

.earth {
  position: absolute;
  background-color: #0058ab;
  box-shadow: 0 0 15px #2ebdff;
  height: 50%;
  width: 50%;
  border-radius: 50%;
  overflow: hidden;
  z-index: 1;
  transition: 0.6s;
}

.earthText {
  position: absolute;
  left: 60%;
  top: 60%;
  width: 150px;
  color: white;
  padding: 10px;
  display: none;
}

.moon .text {
  position: absolute;
  left: 100%;
  top: -200%;
  width: 150px;
  color: white;
  padding: 10px;
  display: none;
}

.earthLands {
  position: absolute;
  z-index: 2;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  opacity: 1;
  animation: blobMov 8s linear infinite;
}

.earthLands .land1 {
  position: absolute;
  background-color: rgb(5, 120, 5);
  width: 40%;
  height: 15%;
  border-radius: 25rem;
  top: 10%;
  left: 5%;
}

.earthLands .land2 {
  position: absolute;
  background-color: rgb(38, 128, 0);
  width: 25%;
  height: 10%;
  border-radius: 25rem;
  top: 28%;
  left: 15%;
}

.earthLands .land3 {
  position: absolute;
  background-color: green;
  width: 35%;
  height: 12%;
  border-radius: 25rem;
  top: 60%;
  left: 15%;
}

.earthLands .land4 {
  position: absolute;
  background-color: green;
  width: 5%;
  height: 10%;
  border-radius: 25rem;
  top: 70%;
  left: 35%;
}

.earthLands .land5 {
  position: absolute;
  background-color: green;
  width: 40%;
  height: 8%;
  border-radius: 25rem;
  top: 75%;
  left: 20%;
}

.earthLands .land6 {
  position: absolute;
  background-color: green;
  width: 30%;
  height: 12%;
  border-radius: 25rem;
  top: 20%;
  left: 70%;
}

.earthLands .land7 {
  position: absolute;
  background-color: rgb(64, 128, 0);
  width: 35%;
  height: 20%;
  border-radius: 25rem;
  top: 45%;
  left: 65%;
}

.earthLands .land8 {
  position: absolute;
  background-color: green;
  width: 12%;
  height: 12%;
  border-radius: 25rem;
  top: 70%;
  left: 75%;
}

.earthLands .land9 {
  position: absolute;
  background-color: rgb(5, 120, 5);
  width: 40%;
  height: 15%;
  border-radius: 25rem;
  top: 10%;
  left: -95%;
}

.earthLands .land10 {
  position: absolute;
  background-color: rgb(38, 128, 0);
  width: 25%;
  height: 10%;
  border-radius: 25rem;
  top: 28%;
  left: -85%;
}

.earthLands .land11 {
  position: absolute;
  background-color: green;
  width: 35%;
  height: 12%;
  border-radius: 25rem;
  top: 60%;
  left: -85%;
}

.earthLands .land12 {
  position: absolute;
  background-color: green;
  width: 5%;
  height: 10%;
  border-radius: 25rem;
  top: 70%;
  left: -65%;
}

.earthLands .land13 {
  position: absolute;
  background-color: green;
  width: 40%;
  height: 8%;
  border-radius: 25rem;
  top: 75%;
  left: -80%;
}

.earthLands .land14 {
  position: absolute;
  background-color: green;
  width: 30%;
  height: 12%;
  border-radius: 25rem;
  top: 20%;
  left: -30%;
}

.earthLands .land15 {
  position: absolute;
  background-color: rgb(64, 128, 0);
  width: 35%;
  height: 20%;
  border-radius: 25rem;
  top: 45%;
  left: -35%;
}

.earthLands .land16 {
  position: absolute;
  background-color: green;
  width: 12%;
  height: 12%;
  border-radius: 25rem;
  top: 70%;
  left: -25%;
}

.earthClouds {
  position: absolute;
  z-index: 3;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  opacity: 0.6;
  animation: blobMov 8s linear infinite;
}

.earthClouds .cloud1 {
  position: absolute;
  background-color: whitesmoke;
  width: 45%;
  height: 20%;
  border-radius: 25rem;
  top: 12%;
  left: 5%;
}

.earthClouds .cloud2 {
  position: absolute;
  background-color: whitesmoke;
  width: 45%;
  height: 20%;
  border-radius: 25rem;
  top: 12%;
  left: -95%;
}

.earthClouds .cloud3 {
  position: absolute;
  background-color: whitesmoke;
  width: 30%;
  height: 15%;
  border-radius: 25rem;
  top: 50%;
  left: 25%;
}

.earthClouds .cloud4 {
  position: absolute;
  background-color: whitesmoke;
  width: 30%;
  height: 15%;
  border-radius: 25rem;
  top: 50%;
  left: -75%;
}

.earthClouds .cloud5 {
  position: absolute;
  background-color: whitesmoke;
  width: 30%;
  height: 12%;
  border-radius: 25rem;
  top: 70%;
  left: -10%;
}

.earthClouds .cloud6 {
  position: absolute;
  background-color: whitesmoke;
  width: 30%;
  height: 12%;
  border-radius: 25rem;
  top: 70%;
  left: -110%;
}

.moon {
  position: absolute;
  background-color: rgb(159, 159, 159);
  box-shadow: 0 0 15px rgb(193, 193, 193);
  height: 20%;
  width: 20%;
  border-radius: 50%;
  overflow: hidden;
  z-index: 1;
  transition: 0.6s;
  animation: 5s ease-in-out infinite moonMove;
}

.moon:hover {
  animation-play-state: paused;
}

.moon .crater1 {
  position: absolute;
  background-color: gray;
  width: 20%;
  height: 20%;
  border-radius: 25rem;
  top: 10%;
  left: 20%;
}

.moon .crater2 {
  position: absolute;
  background-color: gray;
  width: 30%;
  height: 30%;
  border-radius: 25rem;
  top: 50%;
  left: 40%;
}

.moon .crater3 {
  position: absolute;
  background-color: gray;
  width: 22%;
  height: 22%;
  border-radius: 25rem;
  top: 20%;
  left: 60%;
}

.moon .crater4 {
  position: absolute;
  background-color: gray;
  width: 15%;
  height: 15%;
  border-radius: 25rem;
  top: 70%;
  left: 25%;
}

@keyframes moonMove {
  0% {
    transform: translateX(-150%);
  }
  50% {
    transform: translateX(300%);
  }
  100% {
    z-index: 0;
    transform: translateX(-150%);
  }
}
@keyframes circulationEarth {
  from {
    transform: rotate(0deg) translateX(200%) translateY(200%) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(200%) translateY(200%) rotate(-360deg);
  }
}
@keyframes blobMov {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}
.venusHolder {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-origin: center;
  animation: circulationVenus 9s linear infinite;
}
.venusHolder:hover {
  animation-play-state: paused;
}

.venusHolder:hover .venus {
  width: 80%;
  height: 80%;
}

.venusHolder:hover .venusText {
  display: block;
}

.venus {
  position: absolute;
  background-color: rgb(227, 131, 28);
  box-shadow: 0 0 15px rgb(227, 124, 28);
  height: 35%;
  width: 35%;
  border-radius: 50%;
  overflow: hidden;
  z-index: 1;
  transition: 0.6s;
}

.venusText {
  position: absolute;
  left: 80%;
  top: 0%;
  width: 150px;
  color: white;
  padding: 10px;
  display: none;
}

.venusClouds {
  position: absolute;
  z-index: 2;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  opacity: 1;
  animation: blobMov 8s linear infinite;
}

.venus .cloud1 {
  position: absolute;
  background-color: rgb(204, 92, 23);
  width: 80%;
  height: 15%;
  border-radius: 25rem;
  top: 5%;
  left: 0%;
}

.venus .cloud2 {
  position: absolute;
  background-color: rgb(204, 92, 23);
  width: 60%;
  height: 20%;
  border-radius: 25rem;
  top: 30%;
  left: 35%;
}

.venus .cloud3 {
  position: absolute;
  background-color: rgb(204, 92, 23);
  width: 40%;
  height: 20%;
  border-radius: 25rem;
  top: 40%;
  left: 15%;
}

.venus .cloud4 {
  position: absolute;
  background-color: rgb(204, 92, 23);
  width: 40%;
  height: 30%;
  border-radius: 25rem;
  top: 80%;
  left: 40%;
}

.venus .cloud5 {
  position: absolute;
  background-color: rgb(204, 92, 23);
  width: 80%;
  height: 15%;
  border-radius: 25rem;
  top: 5%;
  left: -100%;
}

.venus .cloud6 {
  position: absolute;
  background-color: rgb(204, 92, 23);
  width: 60%;
  height: 20%;
  border-radius: 25rem;
  top: 30%;
  left: -65%;
}

.venus .cloud7 {
  position: absolute;
  background-color: rgb(204, 92, 23);
  width: 40%;
  height: 20%;
  border-radius: 25rem;
  top: 40%;
  left: -85%;
}

.venus .cloud8 {
  position: absolute;
  background-color: rgb(204, 92, 23);
  width: 40%;
  height: 30%;
  border-radius: 25rem;
  top: 80%;
  left: -60%;
}

.venus .cloud9 {
  position: absolute;
  background-color: rgb(171, 79, 21);
  width: 15%;
  height: 15%;
  border-radius: 25rem;
  top: 65%;
  left: 10%;
}

.venus .cloud10 {
  position: absolute;
  background-color: rgb(171, 79, 21);
  width: 15%;
  height: 15%;
  border-radius: 25rem;
  top: 65%;
  left: -90%;
}

.venus .cloud11 {
  position: absolute;
  background-color: rgb(204, 92, 23);
  width: 40%;
  height: 20%;
  border-radius: 25rem;
  top: 40%;
  left: -85%;
}

.venus .cloud12 {
  position: absolute;
  background-color: rgb(204, 92, 23);
  width: 40%;
  height: 30%;
  border-radius: 25rem;
  top: 80%;
  left: -60%;
}

@keyframes circulationVenus {
  from {
    transform: rotate(0deg) translateX(120%) translateY(120%) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(120%) translateY(120%) rotate(-360deg);
  }
}
@keyframes blobMov {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}
.marsHolder {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-origin: center;
  animation: circulationMars 12s linear infinite;
}
.marsHolder:hover {
  animation-play-state: paused;
}

.marsHolder:hover .mars {
  width: 80%;
  height: 80%;
}

.marsHolder:hover .marsText {
  display: block;
}

.mars {
  position: absolute;
  background-color: rgb(225, 80, 2);
  box-shadow: 0 0 15px rgb(224, 96, 27);
  height: 40%;
  width: 40%;
  border-radius: 50%;
  overflow: hidden;
  z-index: 1;
  transition: 0.6s;
}

.marsText {
  position: absolute;
  left: 100%;
  top: 0%;
  width: 150px;
  color: white;
  padding: 10px;
  display: none;
}

.marsClouds {
  position: absolute;
  z-index: 2;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  opacity: 1;
  animation: blobMov 8s linear infinite;
}

.mars .cloud1 {
  position: absolute;
  background-color: rgb(189, 66, 13);
  width: 25%;
  height: 20%;
  border-radius: 25rem;
  top: 20%;
  left: 30%;
}

.mars .cloud2 {
  position: absolute;
  background-color: rgb(189, 51, 13);
  width: 25%;
  height: 20%;
  border-radius: 25rem;
  top: 20%;
  left: -70%;
}

.mars .cloud3 {
  position: absolute;
  background-color: rgb(189, 66, 13);
  width: 36%;
  height: 18%;
  border-radius: 25rem;
  top: 45%;
  left: 0%;
}

.mars .cloud4 {
  position: absolute;
  background-color: rgb(189, 51, 13);
  width: 36%;
  height: 18%;
  border-radius: 25rem;
  top: 45%;
  left: -100%;
}

.mars .cloud5 {
  position: absolute;
  background-color: rgb(189, 66, 13);
  width: 50%;
  height: 15%;
  border-radius: 25rem;
  top: 70%;
  left: 50%;
}

.mars .cloud6 {
  position: absolute;
  background-color: rgb(189, 51, 13);
  width: 50%;
  height: 15%;
  border-radius: 25rem;
  top: 70%;
  left: -50%;
}

@keyframes circulationMars {
  from {
    transform: rotate(0deg) translateX(270%) translateY(270%) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(270%) translateY(270%) rotate(-360deg);
  }
}
@keyframes blobMov {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}
.jupiterHolder {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-origin: center;
  animation: circulationJupiter 14s linear infinite;
}
.jupiterHolder:hover {
  animation-play-state: paused;
}

.jupiterHolder:hover .jupiterText {
  display: block;
}

.jupiterHolder:hover .jupiter {
  width: 150%;
  height: 150%;
}

.jupiter {
  position: absolute;
  background-color: rgb(196, 164, 116);
  box-shadow: 0 0 15px rgb(197, 177, 148);
  height: 80%;
  width: 80%;
  border-radius: 50%;
  overflow: hidden;
  z-index: 1;
  transition: 0.6s;
}

.jupiterText {
  position: absolute;
  left: 150%;
  top: -30%;
  width: 150px;
  color: white;
  padding: 10px;
  display: none;
}

.jupiterClouds {
  position: absolute;
  z-index: 2;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  opacity: 1;
  animation: blobMov 8s linear infinite;
}

.jupiter .cloud1 {
  position: absolute;
  background-color: rgb(163, 131, 87);
  width: 80%;
  height: 10%;
  border-radius: 25rem;
  top: 5%;
  left: 0;
}

.jupiter .cloud2 {
  position: absolute;
  background-color: rgb(163, 131, 87);
  width: 80%;
  height: 10%;
  border-radius: 25rem;
  top: 5%;
  left: -100%;
}

.jupiter .cloud3 {
  position: absolute;
  background-color: rgb(188, 128, 44);
  width: 95%;
  height: 12%;
  border-radius: 25rem;
  top: 25%;
  left: 5%;
}

.jupiter .cloud4 {
  position: absolute;
  background-color: rgb(188, 128, 44);
  width: 95%;
  height: 12%;
  border-radius: 25rem;
  top: 25%;
  left: -95%;
}

.jupiter .cloud5 {
  position: absolute;
  background-color: rgb(163, 131, 87);
  width: 80%;
  height: 10%;
  border-radius: 25rem;
  top: 50%;
  left: 25%;
}

.jupiter .cloud6 {
  position: absolute;
  background-color: rgb(163, 131, 87);
  width: 80%;
  height: 10%;
  border-radius: 25rem;
  top: 50%;
  left: -75%;
}

.jupiter .cloud7 {
  position: absolute;
  background-color: rgb(143, 115, 77);
  width: 60%;
  height: 13%;
  border-radius: 25rem;
  top: 80%;
  left: 40%;
}

.jupiter .cloud8 {
  position: absolute;
  background-color: rgb(143, 115, 77);
  width: 60%;
  height: 13%;
  border-radius: 25rem;
  top: 80%;
  left: -60%;
}

.jupiter .cloud9 {
  position: absolute;
  background-color: rgb(196, 164, 116);
  width: 30%;
  height: 25%;
  border-radius: 25rem;
  top: 33%;
  left: 20%;
}

.jupiter .cloud10 {
  position: absolute;
  background-color: rgb(196, 164, 116);
  width: 30%;
  height: 25%;
  border-radius: 25rem;
  top: 33%;
  left: -80%;
}

.jupiter .cloud11 {
  position: absolute;
  background-color: rgb(171, 143, 102);
  width: 20%;
  height: 15%;
  border-radius: 25rem;
  top: 36%;
  left: 25%;
}

.jupiter .cloud12 {
  position: absolute;
  background-color: rgb(171, 143, 102);
  width: 20%;
  height: 15%;
  border-radius: 25rem;
  top: 36%;
  left: -75%;
}

.jupiter .cloud13 {
  position: absolute;
  background-color: rgb(133, 112, 79);
  width: 10%;
  height: 7%;
  border-radius: 25rem;
  top: 40%;
  left: 30%;
}

.jupiter .cloud14 {
  position: absolute;
  background-color: rgb(133, 112, 79);
  width: 10%;
  height: 7%;
  border-radius: 25rem;
  top: 40%;
  left: -70%;
}

@keyframes circulationJupiter {
  from {
    transform: rotate(0deg) translateX(350%) translateY(350%) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(350%) translateY(350%) rotate(-360deg);
  }
}
@keyframes blobMov {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}
.saturnHolder {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-origin: center;
  animation: circulationSaturn 17s linear infinite;
}
.saturnHolder:hover {
  animation-play-state: paused;
}

.saturnHolder:hover .saturn {
  width: 140%;
  height: 140%;
}

.saturnHolder:hover .saturnRingForward {
  width: 300%;
  height: 40%;
  top: 35%;
  left: -75%;
}

.saturnHolder:hover .saturnRingBackward {
  width: 300%;
  height: 40%;
  top: 75%;
  left: -78%;
}

.saturnHolder:hover .saturnText {
  display: block;
}

.saturn {
  position: absolute;
  background-color: rgb(219, 190, 159);
  box-shadow: 0 0 15px rgb(219, 190, 159);
  height: 70%;
  width: 70%;
  border-radius: 50%;
  overflow: hidden;
  z-index: 1;
  transition: 0.6s;
  z-index: 1;
}

.saturnClouds {
  position: absolute;
  z-index: 2;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  opacity: 1;
  animation: blobMov 8s linear infinite;
  animation-play-state: paused;
}

.saturnText {
  position: absolute;
  left: 150%;
  top: 50%;
  width: 150px;
  color: white;
  padding: 10px;
  display: none;
}

.saturn .cloud1 {
  position: absolute;
  background-color: rgb(192, 166, 139);
  width: 100%;
  height: 10%;
  border-radius: 25rem;
  top: 10%;
  left: 0%;
}

.saturn .cloud2 {
  position: absolute;
  background-color: rgb(192, 166, 139);
  width: 100%;
  height: 8%;
  border-radius: 25rem;
  top: 15%;
  left: 0;
}

.saturn .cloud3 {
  position: absolute;
  background-color: rgb(176, 153, 128);
  width: 100%;
  height: 12%;
  border-radius: 25rem;
  top: 25%;
  left: 0;
}

.saturn .cloud4 {
  position: absolute;
  background-color: rgb(192, 166, 139);
  width: 100%;
  height: 5%;
  border-radius: 25rem;
  top: 40%;
  left: 0%;
}

.saturn .cloud5 {
  position: absolute;
  background-color: rgb(191, 155, 117);
  width: 100%;
  height: 13%;
  border-radius: 25rem;
  top: 50%;
  left: 0%;
}

.saturn .cloud6 {
  position: absolute;
  background-color: rgb(192, 166, 139);
  width: 100%;
  height: 7%;
  border-radius: 25rem;
  top: 65%;
  left: 0;
}

.saturn .cloud7 {
  position: absolute;
  background-color: rgb(192, 166, 139);
  width: 100%;
  height: 10%;
  border-radius: 25rem;
  top: 75%;
  left: 0%;
}

.saturnRingForward {
  position: absolute;
  top: 20%;
  left: -55%;
  width: 175%;
  height: 18%;
  transition: 0.6s;
  transform: rotate(10deg);
  background: rgb(182, 156, 129);
  border-top-left-radius: 120%;
  border-top-right-radius: 120%;
}

.saturnRingBackward {
  position: absolute;
  background-color: rgb(152, 132, 108);
  width: 175%;
  height: 18%;
  z-index: 3;
  top: 38%;
  left: -57%;
  transition: 0.6s;
  transform: translateY(-50%) rotate(10deg);
  border-bottom-left-radius: 120%;
  border-bottom-right-radius: 120%;
}

@keyframes circulationSaturn {
  from {
    transform: rotate(0deg) translateX(450%) translateY(450%) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(450%) translateY(450%) rotate(-360deg);
  }
}
@keyframes blobMov {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}
.uranusHolder {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-origin: center;
  animation: circulationUranus 22s linear infinite;
}
.uranusHolder:hover {
  animation-play-state: paused;
}

.uranusHolder:hover .uranus {
  width: 120%;
  height: 120%;
}

.uranusHolder:hover .uranusText {
  display: block;
}

.uranus {
  position: absolute;
  background-color: rgb(43, 89, 168);
  box-shadow: 0 0 15px rgb(117, 154, 218);
  height: 60%;
  width: 60%;
  border-radius: 50%;
  overflow: hidden;
  z-index: 1;
  transition: 0.6s;
}

.uranusText {
  position: absolute;
  left: 140%;
  top: -50%;
  width: 150px;
  color: white;
  padding: 10px;
  display: none;
}

.uranusClouds {
  position: absolute;
  z-index: 2;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  opacity: 1;
  animation: blobMov 8s linear infinite;
}

.uranus .cloud1 {
  position: absolute;
  background-color: rgb(101, 152, 242);
  width: 50%;
  height: 15%;
  border-radius: 25rem;
  top: 20%;
  left: 30%;
}

.uranus .cloud2 {
  position: absolute;
  background-color: rgb(101, 152, 242);
  width: 50%;
  height: 15%;
  border-radius: 25rem;
  top: 20%;
  left: -70%;
}

.uranus .cloud3 {
  position: absolute;
  background-color: rgb(101, 152, 242);
  width: 35%;
  height: 18%;
  border-radius: 25rem;
  top: 45%;
  left: 0%;
}

.uranus .cloud4 {
  position: absolute;
  background-color: rgb(101, 152, 242);
  width: 35%;
  height: 18%;
  border-radius: 25rem;
  top: 45%;
  left: -100%;
}

.uranus .cloud5 {
  position: absolute;
  background-color: rgb(101, 152, 242);
  width: 20%;
  height: 15%;
  border-radius: 25rem;
  top: 55%;
  left: 45%;
}

.uranus .cloud6 {
  position: absolute;
  background-color: rgb(101, 152, 242);
  width: 20%;
  height: 15%;
  border-radius: 25rem;
  top: 55%;
  left: -55%;
}

.uranus .cloud7 {
  position: absolute;
  background-color: rgb(101, 152, 242);
  width: 60%;
  height: 12%;
  border-radius: 25rem;
  top: 75%;
  left: -10%;
}

.uranus .cloud8 {
  position: absolute;
  background-color: rgb(101, 152, 242);
  width: 60%;
  height: 12%;
  border-radius: 25rem;
  top: 75%;
  left: -110%;
}

@keyframes circulationUranus {
  from {
    transform: rotate(0deg) translateX(550%) translateY(550%) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(550%) translateY(550%) rotate(-360deg);
  }
}
@keyframes blobMov {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}
.neptunHolder {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-origin: center;
  animation: circulationNeptun 26s linear infinite;
}
.neptunHolder:hover {
  animation-play-state: paused;
}

.neptunHolder:hover .neptun {
  width: 120%;
  height: 120%;
}

.neptunHolder:hover .neptunText {
  display: block;
}

.neptun {
  position: absolute;
  background-color: rgb(33, 68, 129);
  box-shadow: 0 0 15px rgb(52, 93, 164);
  height: 55%;
  width: 55%;
  border-radius: 50%;
  overflow: hidden;
  z-index: 1;
  transition: 0.6s;
}

.neptunText {
  position: absolute;
  left: 140%;
  top: -50%;
  width: 150px;
  color: white;
  padding: 10px;
  display: none;
}

.neptunClouds {
  position: absolute;
  z-index: 2;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  opacity: 1;
  animation: blobMov 8s linear infinite;
}

.neptun .cloud1 {
  position: absolute;
  background-color: rgb(26, 92, 205);
  width: 25%;
  height: 12%;
  border-radius: 25rem;
  top: 15%;
  left: 0%;
}

.neptun .cloud2 {
  position: absolute;
  background-color: rgb(26, 92, 205);
  width: 25%;
  height: 12%;
  border-radius: 25rem;
  top: 15%;
  left: -100%;
}

.neptun .cloud3 {
  position: absolute;
  background-color: rgb(26, 92, 205);
  width: 45%;
  height: 20%;
  border-radius: 25rem;
  top: 45%;
  left: 20%;
}

.neptun .cloud4 {
  position: absolute;
  background-color: rgb(26, 92, 205);
  width: 45%;
  height: 20%;
  border-radius: 25rem;
  top: 45%;
  left: -80%;
}

.neptun .cloud5 {
  position: absolute;
  background-color: rgb(26, 92, 205);
  width: 20%;
  height: 15%;
  border-radius: 25rem;
  top: 55%;
  left: 45%;
}

.neptun .cloud6 {
  position: absolute;
  background-color: rgb(26, 92, 205);
  width: 20%;
  height: 15%;
  border-radius: 25rem;
  top: 55%;
  left: -55%;
}

.neptun .cloud7 {
  position: absolute;
  background-color: rgb(26, 92, 205);
  width: 60%;
  height: 15%;
  border-radius: 25rem;
  top: 80%;
  left: -10%;
}

.neptun .cloud8 {
  position: absolute;
  background-color: rgb(26, 92, 205);
  width: 60%;
  height: 15%;
  border-radius: 25rem;
  top: 80%;
  left: -110%;
}

@keyframes circulationNeptun {
  from {
    transform: rotate(0deg) translateX(650%) translateY(650%) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(650%) translateY(650%) rotate(-360deg);
  }
}
body {
  position: relative;
  margin: 0;
  background-size: cover;
  height: 100vh;
  font-family: "Caveat Brush", cursive;
  overflow: hidden;
  background: radial-gradient(#0c0065, #000000);
}

.orbit {
  position: absolute;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

#solarSystem {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sun-outline {
  position: absolute;
  width: 80%;
  height: 80%;
  border-radius: 50%;
  box-shadow: 0 0 30px rgb(254, 254, 150);
  border: 2px solid rgb(255, 162, 0);
  background-color: rgb(255, 210, 75);
}

.sun-inline {
  position: absolute;
  width: 40%;
  height: 40%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  box-shadow: 0 0 40px rgb(255, 64, 0);
  background-color: orange;
  border: 15px solid orange;
  opacity: 0.3;
}

/*# sourceMappingURL=style.css.map */
